.heading{
    text-align: center;
}

.main{
    padding-left: 50px;
    padding-right: 50px;
}

.image{
    height: 470px;
    width: 1200px;
    background-image: url(aboutUs.png);
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    text-align: center;
    background-size: cover;
}
